.content{
    margin: 10px 5px 20px 25%; /* Значения отступа от левого блока */
    padding: 5px; /* Поля внутри блока */
    border: 1px solid #333; /* Рамка контента */
    min-height: 100%;
    background: white;
}